
body {
	font-family: 'Montserrat', sans-serif, sans-serif;
	background: #ffe6e6;
}

.caixa {
	position: relative;
	width: 100%;
	margin: 0px auto 3% 0px;
}

.logo {
	position: relative;
	width: 150px;
	padding: 50px 20% 0px;
}


nav {
	position: absolute;
	top: 110px;
	left: 35%;
	display: inline;
	margin: 0px;
	color: #000000;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
}


.corpo {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}


.entrada {
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 10px;
}

.saida {
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 10px;
}


.segundo-cabecalho {
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	padding: 0 50px 20px;
}

.texto-entrada {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  width: 30vw;
  height: 20vw;
  text-transform: lowercase;
}

.texto-saida {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  width: 30vw;
  height: 20vw;
	background-image: url(imagens/imagem1.svg);
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
}

.texto-saida:focus {
	outline: none;
}


.observacao {
	padding: 20px 50px 20px;
	color: #000000;
	font-size: 15px;
}

.cripto {
	width:40%;
	padding: 15px 0px;
	background: #e6ffff;
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	border: solid #004d4d;
	border-radius: 15px;
	transition: 1s all;
	cursor: pointer;
	text-align: center;
}

.cripto:hover {
	background: #004d4d;
	color: #ffffff;
	border: solid ;
}


.descripto {
	width:40%;
	padding: 15px 0px;
	background: #e6ffff;
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	border: solid #004d4d;
	border-radius: 15px;
	transition: 1s all;
	cursor: pointer;
	text-align: center;
}

.descripto:hover {
	background: #004d4d;
	color: #ffffff;
	border: solid ;
}

.transfere {
	width:40%;
	padding: 15px 0px;
	background: #e6ffff;
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	border: solid #004d4d;
	border-radius: 15px;
	transition: 1s all;
	cursor: pointer;
	text-align: center;	
}

.transfere:hover {
	background: #004d4d;
	color: #ffffff;
	border: solid ;
}


.rodape {
	color: #000000;
	font-weight: bold;
	font-size: 10px;
	padding: 50px 50px 20px;
	text-align: center;	
}

@media screen and (max-width: 480px) {

}

